**/.DS_Store
__pycache__
.pytest_cache
docs/_build
docs/_static
docs/_templates
tests/tmp
experiments/**/*.csv
experiments/**/*.txt
!experiments/**/names.csv
experiments/**/*.info
experiments/**/*.jpg
experiments/**/*.jpeg
experiments/**/*.pdf
experiments/**/*.zip
experiments/**/*.html
demo/demo_data
.idea