**/.DS_Store
**/._.DS_Store
**/._photo
__pycache__
.pytest_cache
docs/_build
docs/_static
docs/_templates
tests/tmp
experiments/**/*.csv
experiments/**/*.txt
!experiments/**/names.csv
experiments/**/*.info
experiments/**/*.jpg
experiments/**/*.jpeg
experiments/**/*.pdf
experiments/**/*.zip
experiments/**/*.html
demo/demo_data
.idea
demo/**/*.csv
demo/**/*.png
demo/**/*.jpg
demo/**/*.jpeg

**/.ipynb_checkpoints/**