<html>
<title>CS81 Labeling Tool</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>
    <h2>Here are all the people you can annotate:</h2>
    {% for name, count in names_and_face_counts %}
        {% if count!=0 %}
        <li><h3><a href="/orig/{{name}}">{{name}}</a> ({{count}} unlabeled images)</h3></li>
        {% endif %}
    {% endfor %}

    <h3><a href="/exit">Click here</a> to exit the tool.</h3>
</body>
