name,race,gender
Joseph Biden, White, Male
Robert Downey Jr., White, Male
Hillary Clinton, White, Female
Scarlett Johansson, White, Female
Barack Obama, Black, Male
Samuel L. Jackson, Black, Male
Kamala Harris, Black, Female
Danai Gurira, Black, Female